.error-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.error {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background: red;
}
.error svg {
  min-width: 25px;
}
.error-message {
  padding: 0 10px;
}