.wrapper {
  position: relative;
  height: 100%;
}
.screen {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  min-height: calc(100% - 50px);
  height: calc(100% - 50px);
  width: 100%;
  padding: 5px;
}
