.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.row {
  display: flex;
  flex: 1;
  border-left: 4px solid black;
  border-right: 4px solid black;
  /* min-height: 60px; commented because of iphone5 */
}
.row:nth-child(odd) {
  flex-direction: row-reverse;
}
.row .col {
  display: flex;
  padding: 2px;
}
.row .col:not(:last-child) {
  border-bottom: 4px solid black;
}
.row:first-child .col:not(:first-child) {
  border-top: 4px solid black;
}

.field {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.background-0-0 {
  background-color: lightblue;
  background-image: url('../../images/speak.png');
}
.background-0-1 {
  background-color: royalblue;
  background-image: url('../../images/speak.png');
}
.background-1-0 {
  background-color: yellow;
  background-image: url('../../images/draw.png');
}
.background-1-1 {
  background-color: green;
  background-image: url('../../images/draw.png');
}
.background-2-0 {
  background-color: purple;
  background-image: url('../../images/mime.png');
}
.background-2-1 {
  background-color: orange;
  background-image: url('../../images/mime.png');
}

.field {
  display: flex;
  flex: 1;
}

.player {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 12px;   
  left: calc(90% - 20px);
  top: calc(5% - 20px);
  transition: top 0.2s ease;
  transition: all 0.2s ease;
}
.player.active {
  border: 2px solid black;
  z-index: 5;
}
.player.armadillo {
  background: darkturquoise;
}
.player.capybara {
  background: aliceblue;
}
.player.penguin{
  background: yellow;
}
.player.hippo{
  background: darkblue;
}
.player.dogCute{
  background: crimson;
}
.player.dogUgly{
  background: deeppink;
}
.player.monkey{
  background: chartreuse;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  border: 5px solid black;
  border-radius: 5px;
  padding: 10px;
}
.card-icon {
  height: 150px;
  width: 100%;
  flex: initial;
}
.special-card {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.card-icon-small {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card-icon-small.field {
  background-position: right;
  opacity: 0.4;
}
.card-text {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}
.time-value-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.card-value {
  font-size: 36px;
}
.time {
  font-weight: 700;
  font-size: 46px;
}
.card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.correct-button {
  width: 48% !important;
  margin: 0 5px 0 0;
}
.destroy-button {
  width: 48% !important;
  margin: 0 !important;
}